<div id="<%= dom_id recurring_transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= recurring_transaction.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recurring_transaction.category %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= recurring_transaction.transaction_type %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= recurring_transaction.frequency %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= recurring_transaction.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= recurring_transaction.end_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recurring_transaction.description %>
  </p>

</div>