<div id="<%= dom_id transaction %>" class="text-slate-700 space-y-1 text-sm">
  <p>
    <span class="font-medium text-slate-600">💵 Amount:</span>
    <%= number_with_precision(transaction.amount, precision: 2) %>
  </p>

  <p>
    <span class="font-medium text-slate-600">🔁 Type:</span>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <span class="font-medium text-slate-600">📝 Description:</span>
    <%= transaction.description.presence || "-" %>
  </p>

  <p>
    <span class="font-medium text-slate-600">🏷️ Category:</span>
    <%= transaction.category.presence || "-" %>
  </p>

  <p>
    <span class="font-medium text-slate-600">📅 Date:</span>
    <%= transaction.date.strftime("%B %d, %Y") %>
  </p>
</div>
